<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
<h1>Welcoming you to the world of micro-services.</h1>
<p>
    Just a paragraph saying smart stuff
    <em>getting started with Flask</em>
    on <a href="https://github.com/bhankit1410/ml-microservices">Github</a>
</p>
<h2>
    Flash cards
    <ul>
        {% for card in cards %}
        <li>
            <a href="{{url_for('card_view', index=loop.index0)}}"> {{ card.question }}</a>
        </li>
        {% endfor %}
    </ul>

    <a href="{{ url_for('add_card')}}">ADD a new card</a>


</h2>
</body>
</html>